
<h2 id="game-title">click the shapes to make a square</h2>
<br />
<div>
    <div class="arrow-up" id="@mas.uprot"></div>
    <div class="arrow-down" id="@mas.downrot"></div>
    <div class="arrow-left" id="@mas.leftrot"></div>
    <div class="arrow-right" id="@mas.rightrot"></div>
</div>
<div id="colorbuttons"class="botofgame">
    <a class="colorbutton1" @onclick="()=>mas.SquareRotate(0)">Rotate</a>
    <a class="colorbutton2" @onclick="()=>mas.SquareRotate(1)">Rotate</a>
    <a class="colorbutton3" @onclick="()=>mas.SquareRotate(2)">Rotate</a>
    <a class="colorbutton4" @onclick="()=>mas.SquareRotate(3)">Rotate</a>
</div>


@code {

    MakeASquare mas = new MakeASquare();

}
