@page "/badlobby"


<h3>LobbyFull</h3>
<div style="font-size:xx-large;">Sorry the lobby input was bad</div>
<div style="font-size:xx-large;color:red;">lobby number can only be a number 0-9</div>
<div style="font-size:xx-large;color:blue;">0-1-2-3-4-5-6-7-8-9</div>
<div style="font-size:xx-large;color:blue;">one of those idiot</div>

@code {

}
