@page "/lobbyfull"


<h3>LobbyFull</h3>
<div style="font-size:xx-large;">Sorry the lobby is full</div>
<div style="font-size:xx-large;color:red;">Sorry the lobby is full</div>
<div style="font-size:xx-large;color:blue;">Sorry the lobby is full</div>

@code {

}
